<!DOCTYPE html>
<html>
<head>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10"></script>
</head>
<body>
	<div id="app">
		<select>
			<option v-for="item in list" > {{ item }} </option>
		</select>

		<span v-for="item in 15"> {{item}} </span>
		<br>

		<span v-for="item in [1, 5, 10, 15]"> {{ item }} </span>
		<br>

		<span v-for="item in text"> {{ item }} </span>

	</div>
		
	<script>
		var app = new Vue({
			el : '#app',
			data : {
				list : ['슬라임', '고블린', '드래곤'],
				text : 'Vueeeeee'
			}
		})

	</script>
</body>
</html> 