<!DOCTYPE html>
<html>
<head>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10"></script>
</head>
<body>
	<div id="app">
		<ul>
			<li v-for="(item, index) in list" v-bind:key="item.id" v-if="item.hp">
				ID.{{item.id}}  {{ item.name}}  HP.{{ item.hp }}
				<span v-if="item.hp < 50 "> 큰 피해...! </span>

				<button v-on:click="doAttack(index)"> 공격하기 </button>
		</ul>
	</div>
		
	<script>
		var app = new Vue({
			el : '#app',
			data : {
				list : [
					{ id : 1, name : '슬라임', hp : 100 },
					{ id : 2, name : '고블린', hp : 200 },
					{ id : 3, name : '드래곤', hp : 300 }
				]
			},
			methods : {
				doAttack : function(index) {
					this.list[index].hp -= 10,
					
					this.list = this.list.filter(function (el) {
						return el.hp >= 100
					})
				}
			}
					
		})

	</script>
</body>
</html> 