<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p> 익스프레스로 만든 첫 페이지 입니다 <%= title %></p>
  </body>
</html>
